<h1>USER</h1>
<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
    </tr>
  </tbody>
</table>
